/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* .liquidizer-frontmatter-setting .setting-item-control {
    max-width: 60%;
}

.liquidizer-frontmatter-setting .setting-item-control input {
    width: 100%;
} */

.liquidizer-frontmatter-dropdown-select {
    width: 20px !important;
    overflow: hidden !important;
}